/* start import fonts */
/* end import fonts */
/*اساسيات الصفحه */
*{
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
    background-color: #090B0C;
    scrollbar-width: thin;
    scrollbar-color: rgb(226 232 240 / 50) transparent;
    overflow-x: hidden;
}
/*انتهاء من اساسيات الصفحه */
/* بداية رأس الصفحه*/
.header{
    position: fixed;
   /* تهيئة المكان لـ رأس الصفحه*/
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 40px;
   /*انحناء المربع*/
    background-color:rgba(0, 0, 0, 0.7) ;
   /*لون اسود لكن مو معتم*/
    backdrop-filter: blur(20px) saturate(200%);
   /*تأثير الضبابي نفس اجهزة ابل*/
    z-index:1;
}
.contener{
    display: flex;
   /* تهيئة المكان لـ رأس الصفحه*/
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo{
    color: #00A2FF;
   /*خاص في الشعار في رأس الصفحه*/
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.home{
    color: #ffffff;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    font-size: 22px;
   /* حجم الخط*/
    background-color: #00A2FF;
    padding: 8px;
    border-radius: 30px;
}
.up{
    color: #ffffff;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.links{
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.links li a {
    color: white;
    transition: .3s;
}
/* بداية الأنيميشن للهيدر */
.up:hover {
    color: #ffffff;
    text-shadow:2px 2px 20px white ;
}
.home:hover{
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: rgb(0, 162, 255) 0px 2px 40px -6px;
}
/* نهاية header */
/*بداية الصفحه*/
.main{
    background-image: url(img/Group\ 5.png);
   /* خلفية لـ بداية الصفحه*/
}
.Lets{
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 160px;
    margin-left: 40px;
    padding-top: 200px ;
}
.Exploit{
    color: #00A2FF;
    font-family: "Source Code Pro", monospace;
    font-weight: 1000;
    font-size: 125px;
    margin-left: 40px;
}
.img-code{
    display: flex;
   /* مكان صورة النافذتين*/
    margin-top: -280px;
    margin-left: 1200px;
}
.home-exploit a {
    color: black;
    background-color: white;
    border-radius: 17px;
    font-size: 35px;
    width: 150px;
    align-content: center;
    height: 55px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    margin-left:150px;
    margin-top: -180px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.wiki-exploit a{
    color: white;
    box-shadow: 0px 9px 100px 5px #00A2FF;
    border: solid #00A2FF 4px ;
    background-color: rgba(0, 0, 0, 0.199);
    transform: scale(1.1,1.1);
    border-radius: 17px;
    font-size: 30px;
    width: 190px;
    align-content: center;
    height: 55px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    margin-left:330px;
    margin-top: -57px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    transition: 0.3s ease-out;
}
.wiki-exploit:hover a{
    box-shadow: 0px 9px 150px 5px #00A2FF;
   /* أنميشن لـ زر الـ wiki*/
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.home-exploit:hover a{
    box-shadow: 0px 9px 20px 5px #0000003a;
   /* انميشن لـ زر الهوم*/
    text-shadow: 0px 0px 20px #00000060;
    background-color: rgb(192, 192, 192);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.1,1.1);
}
/* الجزء الثاني من الصفحه : صورة اردوينو مع ضل في المربع */
.main .video{
    border-radius: 40px;
    background-color: #ffffff;
    margin-top: 330px;
    border: #00A2FF solid 7px;
    box-shadow: 0px 100px 200px -80px #00A2FF;
   /* ضل باللون السماوي*/
    transition: 0.3s ease-in-out;
    transform: scale(1.19,1.19);
}
.main .video:hover{
    transform: scale(1.25,1.25);
}
/* الجزء الثالث من الصفحه والتي فيها 3 مربعات فيها نبذة */
.Features-title{
    color: #ffff;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 100px;
    font-weight: 900;
    margin-top: 800px;
    margin-bottom: 300px;
    padding-bottom: 100px;
}
.why-exploit{
    width: 700px;
    margin-left:150px ;
    background-color: black;
    border-radius:30px ;
    padding: 40px;
    border: #003756 6px solid;
    height: 1130px;
    transition: 0.4s ease-in;
}
.why-exploit h1{
    font-size: 72px;
    margin-left: 10px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: white;
}
.why-exploit h3{
    font-size: 33px;
    margin-left: 60px;
    font-weight: 400;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: gray;
}
.why-exploit img{
    margin-left: 200px;
    margin-top: -30px;
}
.free-to-edit{
    width: 700px;
    color: white;
    margin-left:150px ;
    background-color: black;
    border-radius:30px ;
    padding: 40px;
    border: #003756 6px solid;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    margin-left: 980px;
    margin-top: -1220px ;
    height: 500px;
    transition: 0.4s ease-out;
}
.free-to-edit h1{
    font-size: 72px;
    margin-left: 10px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.free-to-edit h3{
    font-size: 33px;
    margin-left: 10px;
    font-weight: 400;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: gray;
}
.free-to-edit img{
    margin-top:-350px;
    margin-left: 300px ;
}
.easy-To-Code{
    width: 700px;
    color: white;
    margin-left:150px ;
    background-color: black;
    border-radius:30px ;
    padding: 40px;
    border: #003756 6px solid;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    margin-left: 980px;
    margin-top: 30px;
    height: 500px;
    transition: 0.2s ease-out;
}
.easy-To-Code h1{
    font-size: 72px;
    margin-left: 10px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    margin-top: -45px;
}
.easy-To-Code h3{
    font-size: 33px;
    margin-left: 10px;
    font-weight: 400;
    margin-top: -50px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: gray;
}
.easy-To-Code img{
    margin-top: -350px;
    margin-left: 290px;
}
/* for anmition */
/* أنيميشن لـ الثلاث مربعات يطلع لهم ضل */
.easy-To-Code:hover{
    border: #00A2FF 6px solid;
    box-shadow: #00A2FF 0px 0px 100px -50px;
}
.why-exploit:hover{
    border: #00A2FF 6px solid;
    box-shadow: #00A2FF 0px 0px 100px -50px;
}
.free-to-edit:hover{
    border: #00A2FF 6px solid;
    box-shadow: #00A2FF 0px 0px 100px -50px;
}
/* الجزء الرابع تعريف الحرية في التعديل */
.power{
    background-image: url(img/image\ 1.png);
   /* خلفية لـ صفحة : الحرية الكاملة في التعديل*/
    margin-top: 100px;
}
.power .video{
    margin-top: -200px;
    margin-left:820px ;
    transform: translate(500px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.power .img{
    border-radius: 30px;
    border:#00A2FF solid 5px;
    box-shadow: 0px 10px 200px -100px #00A2FF;
}
.power .video:hover{
    transform: translate(0px);
   /* انيميشن لـ صورة الجمر الصورة تظهر بشكل كامل*/
}
.power .h3{
    margin-right: 1152px;
    color: #CBD5E1;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    font-size: 27px;
}
.power .h1{
    margin-left: 120px;
    font-size: 64px;
    padding-top: 100px;
    color: #EEF9FF;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: bolder;
}
.easy{
    margin-top: 140px;
    transform: translate(79px, -396px);
    border-radius: 20px;
    border: #00a2ff00 solid 1.5px;
    transition: 0.4s ease-out;
    width: 800px;
    height: 150px;
}
.h1-easy{
    color: #ffff;
    margin-left: 620px;
    transform: translate(-75px, 24px);
    font-size: 27px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.h3-easy{
    color: #ffff;
    font-size: 27px;
    padding-left: 10px;
    font-weight: 400;
    transform: translate(160px, -17px);
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.easy .easy-svg{
    transform:translate(71px, -88px);
}
/* انميشن لـ النصين وهم سهولة التعديل و بناء البرنامج : تأثير ضبابي مع اضهار حدود */
.easy:hover{
    background-color: #97dcff0c;
    backdrop-filter: blur(5px) saturate(200%);
   /* تأثير ضبابي مثل اجهزة ابل*/
    width: 800px;
    height: 150px;
    border-radius: 20px;
    border: #00A2FF solid 1.5px;
}
.create:hover{
    background-color: #97dcff0c;
    backdrop-filter: blur(5px) saturate(200%);
   /* تأثير ضبابي مثل اجهزة ابل*/
    width: 800px;
    height: 150px;
    border-radius: 20px;
    border: #00A2FF solid 1.5px;
}
.create{
    transform: translate(79px, -396px);
    border-radius: 20px;
    border: #00a2ff00 solid 1.5px;
    transition: 0.4s ease-out;
    width: 800px;
    height: 150px;
    margin-top: 20px ;
}
.h1-create{
    color: #ffff;
    margin-left: 620px;
    transform: translate(-75px, 24px);
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 27px;
}
.h3-create{
    color: #ffff;
    font-size: 27px;
    padding-left: 10px;
    font-weight: 400;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transform: translate(160px, -17px);
}
.create .create-svg{
    transform:translate(71px, -88px);
}
/* الجزء الخامس اختيار نوع الجهاز*/
.Chooseh1{
    color: white;
    font-size: 96px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.arduino{
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
    z-index: 10;
    margin-left: 650px;
    transform: translate(-330px,100px);
}
/* انيميشن للأردوينو الصوره ترتفع للأعلى و تظهر بشكل كامل */
.arduino-key{
    transform: translate(-330px,-250px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
    margin-left: 650px;
}
.ardh1{
    transform: translate(-400px,-750px);
    color: #00a6ff00;
    font-size: 96px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.ard-h1{
    transform: translate(-400px,-800px);
    color: #eef9ff;
    font-size: 96px;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.ard-h5{
    margin-left: -1300px;
    transform: translate(100px,-750px);
    color: #eef9ff00;
    font-size: 18px;
    font-weight: 300;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.ardh5{
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
    color: #eef9ff;
    transform: translate(100px,-800px);
}
.esp32{
    background-color: #2d2d2d62;
    width: 960px;
    border: #00A2FF solid 2px;
    backdrop-filter: blur(25px) saturate(200%);
    height: 593px;
    transform: translate(0px,-550px);
    border-radius: 20px;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
    margin-left: 700px;
}
.esp32 img {
    margin-top: 70px;
}
.esph1{
    transform: translate(-450px,-1250px);
    color: #00a6ff00;
    font-size: 96px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.esph5{
    transform: translate(-500px,-1250px);
    font-size: 20px;
    width: 600px;
    font-weight: 300;
    color: #eef9ff00;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.esp-h1{
    transform: translate(-550px,-1300px);
    color: #eef9ff;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.esp-h5{
    transform: translate(-500px,-1300px);
    color: #eef9ff;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
/* انيميشن لقطعة الواي فاي الصوره ترتفع للأعلى و تظهر بشكل كامل */
.esp32img{
    transform: translate(0px,-750px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.rasp{
    background-color: #2d2d2d62;
    width: 1265px;
    border: #00A2FF solid 2px;
    backdrop-filter: blur(25px) saturate(200%);
    height: 765px;
    transform: translate(0px,-1200px);
    border-radius: 20px;
    align-items: center;
    z-index: 5;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
    margin-left: 600px;
}
.rasp img {
    margin-top: 140px;
}
.bladeh1{
    transform: translate(-650px,-1950px);
    font-size: 96px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: #eef9ff00;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.bladeh5{
    transform: translate(-650px,-1950px);
    font-size: 20px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    width: 500px;
    color: #eef9ff00;
    font-weight: 300;
    transition: 1s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.blade-h1{
    color: #eef9ff;
    transform: translate(-650px,-2000px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.blade-h5{
    color: #eef9ff;
    transform: translate(-650px,-2000px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
/* انيميشن للراس بيري باي الصوره ترتفع للأعلى و تظهر الموقع بشكل ذكي */
.bladeR{
    transform: translate(0px,-1450px);
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.Join-to{
    background-image: url(img/Main\ →\ Section\ →\ community-bg.C12e4ZIA.webp.png);
   /* خلفية للكلام*/
    width:1400px ;
    height:1066.25px ;
}
/* الجزء السادس الإنضمام الى المجتمع */
/* النص الأول */
.Join-to h1{
    font-size: 96px;
    color: white;
    transform: translate(0px,320px);
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
/* النص الثاني */
.Join-to h3{
    transform: translate(0px,320px);
    color: #CBD5E1;
    font-size: 20px;
}
/* الزر للإنضمام */
.Join-to button{
    font-size: 48px;
    border-radius: 30px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 900;
    background-color: #ffffff;
    transform: translate(0px,370px);
    border: none;
    transition: 0.4s cubic-bezier(0.24, 0.81, 0.22, 0.81);
   /* سرعة الأنيميشن و طريقة عرضه*/
}
.Join-to button a{
    color: #000000;
}
/* انيميشن للزر */
.Join-to button:hover{
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 55px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 5px 40px;
    text-shadow: rgba(0, 0, 0, 0.253) 0px 0px 20px;
    cursor: pointer;
}
.Join-to h3{
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
/* الدائره ضبابيه */
.dev-rice{
    transform: translate(-750px,1px);
}
/* start footer */
/* الجزء السابع اخر الصفحه */
.footer{
    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 100px;
    margin-top: -200px;
    backdrop-filter: blur(20px) saturate(200%);
   /* تأثير ضبابي مثل اجهزة ابل*/
    border-top: #000000 solid 1px;
}
.links-footer{
    transform: translate(80px,-30px);
    color: rgba(148, 163, 184, 0.26);
    font-family: "Work Sans", sans-serif;
}
.links-footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    color: rgb(148, 163, 184);
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.License{
    transform: translate(550px,170px);
    color: rgba(148, 163, 184, 0.26);
    font-size: 13px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
}
.social-media{
    transform: translate(1500px,-200px);
}
.social-media h1{
    color: rgba(148, 163, 184, 0.26);
    font-family: "Work Sans", sans-serif;
}
.made-by{
    transform: translate(1300px,-300px);
    font-family: "Work Sans", sans-serif;
}
.made-by h1{
    color: rgba(148, 163, 184, 0.26);
    font-family: "IBM Plex Sans Arabic", sans-serif;

}
.made-by h3{
    color: rgb(148, 163, 184);
    font-weight: 500;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
